DB_HOST=127.0.0.1
DB_PORT=
DB_DB=
DB_USER=
DB_PASSWORD=
BCRYPT_SALT=

JWT_SECRET=
JWT_EXPIRES_IN=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

NODE_ENV=

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_FROM=
MAIL_PASS=

ORIGIN_URL_USER=
ORIGIN_URL_ADMIN=
